<div class="shadow rounded p-5">
  <%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
      <p><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</p>
      <% post.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    <% end %>

    <div>
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="my-4 col-3">
      <%= render "image_preview", form: form, post: post %>
    </div>
    <div>
      <%= form.label :body, class: 'form-label' %>
      <%= form.text_area :body, class: 'form-control' %>
    </div>
    <div class="mt-5">
      <%= form.submit class: 'btn btn-outline-success btn-sm' %>
    </div>
  <% end %>
</div>
